<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ONEGAI-Generator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="fukuyama"><%= link_to image_tag("onegai_title.png",{:size => '500x109',:border => '0'}), root_path %></div>
<% if current_user %>
	<%= current_user.name %>さん
	<%= link_to "logout", logout_path %>
	<br />
	<br />
	<br />
<% else %>
	<%= link_to "Facebok でログインしてお願いページを作ろう！","/auth/facebook "%><br/><br/>
	
<% end %>
<%= yield %>
<br/>
<br/>
<div id="fukuyama"><%= link_to image_tag("onegai.png",{:size => '500x109',:border => '0'}), "https://donate.wikimedia.org/wiki/Special:FundraiserLandingPage?uselang=ja&country=JP&template=Lp-layout-default&appeal-template=Appeal-template-default&appeal=Appeal-Brandon&form-template=Form-template-default&form-countryspecific=Form-countryspecific-control&utm_medium=sitenotice&utm_source=B11_Donate_Brandon_AvsB&utm_campaign=C11_1114_AvsB_JP" %></div>
created by <%= link_to "Takaharu Hayashi", "http://www.facebook.com/takaharu.hayashi"%>
(<%= link_to "@hal0884", "http://twitter.com/#!/HAL0884"%>)
</body>
</html>
